*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

.deebug{
    border: 1px dashed white;
    height: 150px;
}

/* LAYOUT */
.bottom-section{
    height: 150px;
    background-color: blue;
}

.top-section{
    height: calc( 100vh - 150px );
    display: flex;
    background-color: red;
}
.side-bar{
    width: 300px;
    background-color: black;
}

.main-content{
    width: calc(100vw - 300px);
    background-color: brown;
}

.content{
    width: 100%;
}

.content img{
    width: 100%;
}

.col-15{
    width: 15%;
}

.col-16{
    width: calc( 100% / 6);
}

.col-50{
    width: 50%;
}

.col-70{
    width: 70%;
}



header{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 300px;
    background-color: rgba(0, 0, 0, 0.747);
    width:calc(100vw - 300px); 
    text-align: right;

}

/* UTYLITIES */
.mg-auto{
    margin: 0 auto;
}

.padding-10{
    padding: 10px 10px;
}

.padding-20{
    padding: 20px 10px;

}
.flex{
    display: flex;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}

ul{
    text-align: right;
    list-style: none;
}

li{
    display: inline-block;
}

.align-items-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}


.text-align-center{
    text-align: center;
}

/* STYLE */

.artist-pic{
    border-radius: 50%;
    border: 1px dashed black;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* MEDIA QUEERY */

/* MEDIA QUEERY TABLET */

@media screen and (max-width:768px ){
    .side-bar{
        width: 200px;
    }
    
    .main-content{
        width: calc(100vw - 200px);
    }

    header{
        left: 200px;
        width:calc(100vw - 200px); 
    }

}

/* MEDIA QUEERY MOBILE */

@media screen and (max-width:480px ){
    .side-bar{
        width: 100px;
    }
    
    .main-content{
        width: calc(100vw - 100px);
    }

    header{
        left: 100px;
        width:calc(100vw - 100px); 
    }


}