*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(219, 218, 218)
}

.container{
    max-width: 1200px;
}

.deebug{
    border: 1px dashed white;
    height: 150px;
}

/* LAYOUT */
.bottom-section{
    height: 100px;
    background-color: rgb(54, 54, 61);
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
}

.top-section{
    height: calc( 100vh - 100px );
    display: flex;
    background-color: red;
}
.side-bar{
    width: 250px;
    background-color: black;
}

.main-content{
    width: calc(100vw - 250px);
    background-color: brown;
    overflow-y: auto;
}

.content{
    width: 100%;
}

.content img{
    width: 100%;
}

.col-25{
    width: 25%;
    height: 100%;
}

.col-16{
    width: calc( 100% / 6);
}

.col-50{
    width: 50%; 
    height: 100%;
}

.col-60{
    width: 60%;  
}

.col-70{
    width: 70%;
}

.col-80{
    width: 80%;
}

.col-100{
    width: 100%;
}

.col-50 .buttons{
    border: 1px solid white;
    text-align: center;
    height: 50%;

}

.col-50 .playbar-control{
    height: 50%;
}

.current, .end{
    width: 10%;
    border: 1px solid white;
}

.playbar{
    width: 80%;
    border: 1px solid white;
}


header{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 250px;
    background-color: rgba(0, 0, 0, 0.747);
    width:calc(100vw - 250px); 
    text-align: right;

}

/* UTYLITIES */
.mg-auto{
    margin: 0 auto;
}

.mg-5{
    margin: 5px 5px;
}
.mg-bottom-10px{
    margin-bottom: 10px;
}
.padding-l-10{ 
    padding-left: 10px;
}

.padding-b-10{
    padding-bottom: 10px;
}

.padding-10{
    padding: 10px 10px;
}

.padding-20{
    padding: 20px 10px;

}

.padding-top-50{
    padding-top: 50px;
}

.br-20{
    border-radius: 20px;
}
.flex{
    display: flex;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}


.align-items-center{
    align-items: center;
}

.align-items-end{
    align-items: flex-end;
}

.justify-content-center{
    justify-content: center;
}


.text-align-center{
    text-align: center;
}

.btw{
    justify-content: space-between;
}

.around{
    justify-content: space-around;
}

.jc-end{
    justify-content: flex-end;
}
.size-20{
    font-size: 20px;
}

.size-30{
    font-size: 30px;
}
/* STYLE */

.upgrade{
    padding: 10px 20px;
    border: 1px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.253);
}

.logo{
    width: 50%;
}

.logo img{
    width: 100%;
}

.icone {
    width: 10%;
}

.icone img{
    width: 100%;
}

.new-playlist ul{
    list-style: none;
}

.border-green{
    border-left: 5px solid green;
}
.artist-pic{
    border-radius: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artist-pic img{
    border-radius: 100px;
}

.listening .img-container{
    width: 20%;
}

.img-container img{
    width: 100%;
}

.volume-bar {
    display: flex;
    align-items: center;
}
.volume {
    width: 40px;
    height: 4px;
    background: #535353;
    border-radius: 2px;
    margin-left: 10px;
    position: relative;
}
.volume-filled {
    width: 30%; 
    height: 100%;
    background: white;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;}


/* MEDIA QUEERY */

/* MEDIA QUEERY TABLET */

@media screen and (max-width:768px ){
    .side-bar{
        width: 200px;
    }
    
    .main-content{
        width: calc(100vw - 200px);
    }

    header{
        left: 200px;
        width:calc(100vw - 200px); 
    }
    
    .col-lg-25{
        width: 25%;
    }
}

/* MEDIA QUEERY MOBILE */

@media screen and (max-width:480px ){
    .side-bar{
        width: 150px;
    }
    
    .main-content{
        width: calc(100vw - 150px);
    }

    header{
        left: 100px;
        width:calc(100vw - 100px); 
    }

    .col-mb-50{
        width: 50%;
    }


}